{
  "openapi": "3.1.0",
  "info": {
    "title": "Mulheres de Luxo API",
    "description": "APIs HTTP para autenticação, anúncios e verificação de perfil no Mulheres de Luxo — catálogo de acompanhantes de luxo em Belo Horizonte e no Brasil.",
    "version": "1.0.0",
    "contact": {
      "name": "Mulheres de Luxo",
      "url": "https://mulheresdeluxo.com.br/contato",
      "email": "contato@mulheresdeluxo.com.br"
    }
  },
  "servers": [
    {
      "url": "https://mulheresdeluxo.com.br",
      "description": "Produção"
    }
  ],
  "paths": {
    "/api/auth/me": {
      "get": {
        "summary": "Usuário autenticado atual",
        "tags": ["Auth"],
        "responses": {
          "200": {
            "description": "Payload do usuário da sessão"
          },
          "401": {
            "description": "Não autenticado"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "summary": "Login",
        "tags": ["Auth"],
        "responses": {
          "200": {
            "description": "Login realizado"
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "summary": "Criar conta",
        "tags": ["Auth"],
        "responses": {
          "201": {
            "description": "Conta criada"
          }
        }
      }
    },
    "/api/listings": {
      "get": {
        "summary": "Listar anúncios do usuário atual",
        "tags": ["Listings"],
        "responses": {
          "200": {
            "description": "Anúncios da acompanhante autenticada"
          }
        }
      },
      "post": {
        "summary": "Criar anúncio com fotos (S3)",
        "tags": ["Listings"],
        "responses": {
          "201": {
            "description": "Anúncio criado"
          }
        }
      }
    },
    "/api/listings/{id}": {
      "patch": {
        "summary": "Atualizar anúncio",
        "tags": ["Listings"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Anúncio atualizado"
          }
        }
      }
    },
    "/api/profile/verify": {
      "post": {
        "summary": "Enviar foto de verificação",
        "tags": ["Profile"],
        "responses": {
          "200": {
            "description": "Perfil verificado"
          }
        }
      }
    },
    "/api/luxo": {
      "post": {
        "summary": "Criar pagamento PIX Luxo para promoção de anúncio",
        "tags": ["Luxo"],
        "responses": {
          "200": {
            "description": "Pagamento PIX criado"
          }
        }
      },
      "patch": {
        "summary": "Confirmar pagamento Luxo",
        "tags": ["Luxo"],
        "responses": {
          "200": {
            "description": "Anúncio promovido"
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "Health check",
        "tags": ["Discovery"],
        "responses": {
          "200": {
            "description": "Serviço saudável"
          }
        }
      }
    },
    "/.well-known/oauth-protected-resource": {
      "get": {
        "summary": "OAuth Protected Resource Metadata (RFC 9728)",
        "tags": ["OAuth"],
        "responses": {
          "200": {
            "description": "Metadados do protected resource"
          }
        }
      }
    },
    "/.well-known/openid-configuration": {
      "get": {
        "summary": "OpenID Connect Discovery",
        "tags": ["OAuth"],
        "responses": {
          "200": {
            "description": "Metadados do provedor OIDC"
          }
        }
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "summary": "OAuth 2.0 Authorization Server Metadata (RFC 8414)",
        "tags": ["OAuth"],
        "responses": {
          "200": {
            "description": "Metadados do AS OAuth incluindo agent_auth"
          }
        }
      }
    },
    "/auth.md": {
      "get": {
        "summary": "Instruções Auth.md para registro de agentes",
        "tags": ["OAuth", "Discovery"],
        "responses": {
          "200": {
            "description": "Documento Markdown da skill Auth.md"
          }
        }
      }
    },
    "/agent/identity": {
      "post": {
        "summary": "Registrar identidade de agente (Auth.md)",
        "tags": ["OAuth"],
        "responses": {
          "200": {
            "description": "Registro / identity assertion"
          }
        }
      }
    },
    "/agent/identity/claim": {
      "post": {
        "summary": "Cerimônia de claim para registro de agente",
        "tags": ["OAuth"],
        "responses": {
          "200": {
            "description": "Payload da cerimônia de claim ou assertion concluída"
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "summary": "Endpoint de token OAuth",
        "tags": ["OAuth"],
        "responses": {
          "200": {
            "description": "Resposta com access token"
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "summary": "Revogação de token OAuth (RFC 7009)",
        "tags": ["OAuth"],
        "responses": {
          "200": {
            "description": "Token revogado"
          }
        }
      }
    },
    "/.well-known/api-catalog": {
      "get": {
        "summary": "Catálogo de APIs (linkset RFC 9727)",
        "tags": ["Discovery"],
        "responses": {
          "200": {
            "description": "Catálogo de APIs em linkset"
          }
        }
      }
    },
    "/.well-known/mcp/server-card.json": {
      "get": {
        "summary": "MCP Server Card (SEP-1649 / SEP-2127)",
        "tags": ["Discovery", "MCP"],
        "responses": {
          "200": {
            "description": "MCP Server Card com serverInfo, transport e capabilities"
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "Endpoint MCP Streamable HTTP JSON-RPC",
        "tags": ["MCP"],
        "responses": {
          "200": {
            "description": "Resposta JSON-RPC"
          }
        }
      },
      "get": {
        "summary": "Dica de descoberta do transporte MCP",
        "tags": ["MCP"],
        "responses": {
          "200": {
            "description": "Como conectar via Streamable HTTP"
          }
        }
      }
    },
    "/mcp/server-card": {
      "get": {
        "summary": "MCP Server Card (caminho SEP alternativo)",
        "tags": ["Discovery", "MCP"],
        "responses": {
          "200": {
            "description": "Mesmo card de /.well-known/mcp/server-card.json"
          }
        }
      }
    },
    "/.well-known/agent-skills/index.json": {
      "get": {
        "summary": "Índice Agent Skills Discovery (RFC v0.2.0)",
        "tags": ["Discovery"],
        "responses": {
          "200": {
            "description": "Índice de skills com $schema, skills[], name/type/description/url/digest"
          }
        }
      }
    }
  }
}
